#!/usr/bin/make -f

override_dh_autoreconf:
	NOCONFIGURE=1 dh_autoreconf ./autogen.sh

override_dh_auto_configure:
	dh_auto_configure -- --with-gtkspell --with-libsoup --with-gtkhtml314 --without-librsvg --without-sqlite3 --without-xmms

override_dh_auto_install:
	dh_auto_install
	cp debian/livejournal.xpm debian/logjam/usr/share/pixmaps/logjam.xpm

%:
	dh $@ --with quilt,autoreconf

