#!/usr/bin/make -f

override_dh_auto_configure:
	dh_auto_configure -- --with-gtkspell --with-libsoup --without-gtkhtml --without-librsvg --without-sqlite3 --without-xmms

%:
	dh $@ --with quilt,autoreconf

